@font-face {
    font-family: 'waltographregular';
    src: url('../Waltograph/waltograph42-webfont.woff') format('woff');
         /*url('waltograph42-webfont.woff') format('woff');*/
/*    font-weight: normal;
    font-style: normal;*/

}

.navbar-brand {
  font-family: 'Mouse Memoirs', sans-serif;
}

h1 {
  font-family: 'waltographregular', sans-serif;
}

p {
  font-family: 'Mouse Memoirs', sans-serif;
}

.nav.navbar-nav.navbar-right {
  font-family: 'Mouse Memoirs', sans-serif;
}

.jumbotron{
    margin-bottom: 0px;
    background: transparent;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    padding: 24px 60px;
}
#hangmanDisney{
	color: white;
  font-family: 'waltograph42', sans-serif;
}

.panel-title{
    color: white;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 45px;
    text-shadow: black 0.3em 0.3em 0.3em;
}

#wordToGuess{
    color: black;
    text-shadow: black 0.3em 0.3em 0.3em;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    margin: 20px; 
    background-image: url(http://cdn.wallpapersafari.com/63/47/sXCKdy.jpg);
    background-repeat: no-repeat;
}

.panel-panel-default-1 {
  margin: 0;
  display: block;
  padding: 0;
  display:block;
  position: relative;
  display: inline-block;
}

.panel-panel-primary {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 10px;
  font-size:1.6em;
}
